html {
  box-sizing: border-box;
  font: normal 100%/1.5 sans-serif;
  margin: 0;
  background-color: #f0eee8;
  padding: .4rem;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background-color: #dcd4cd;
  border-style: solid;
  padding: .75rem;
  border-color: #9a816d;
  border-radius: 8px;
}

h2 {
  font-family: Dosis, sans-serif;
  font-size: 1.5rem;
  color: #512200;
}

div {
  font-size: .875rem;
  color: #512200;
}

dl {
  font-size: .875rem;
  color: #512200;
}

p {
  font-family: Georgia, serif;
  font-size: 1rem;
  color: #512200;
}

dd {
  font-style: italic;
}

.link-card {
  font-size: 1.125rem;
  color: #fff;
  border-width: 3px;
  background-color: #785439;
  border-radius: 8px;
  padding: 1rem;
  font-family: Dosis, sans-serif;
  font-style: normal;
}

a {
  text-decoration: none;
}
