html {
  box-sizing: border-box;
  font: normal 100%/1.5 sans-serif;
  margin: 0;
  background-color: #f0eee8;
  padding: .75rem;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.link-card {
  display: inline-block;
}

.link-card:hover {
  background-color: #cabdb2;
  border-color: #9a816d;
  color: #512200;
}

body {
  background-color: #dcd4cd;
  border-style: solid;
  padding: .75rem;
  padding-top: .4rem;
  border-color: #9a816d;
  border-radius: 8px;
  margin: 0;
}

.link-card h2 {
  font-family: Dosis, sans-serif;
  font-size: 1.5rem;
  color: #512200;
  margin: 0;
  font-weight: 700;
}

hr {
  border-color: #cabdb2;
}

div {
  font-size: .875rem;
  color: #512200;
  text-align: center;
}

dl {
  font-size: .875rem;
  color: #512200;
  border-bottom: 2px #9a816d;
  border-top: 2px #9a816d;
  border-style: solid;
  border-left: none;
  border-right: none;
  display: block;
  padding: .75rem;
  padding-left: .5rem;
  padding-top: 1rem;
}

p {
  font-family: Georgia, serif;
  font-size: 1rem;
  color: #512200;
  margin: 1rem;
  margin-top: .6rem;
  text-align: left;
  margin-left: 0;
  margin-right: 0;
}

dd {
  font-style: italic;
  clear: right;
  margin-left: 1rem;
  font-family: Georgia, sans-serif;
}

dt {
  float: left;
  clear: left;
  width: 115px;
  font-family: Georgia, sans-serif;
}

.btn {
  font-size: 1.125rem;
  color: #fff;
  border-width: 3px;
  background-color: #785439;
  border-radius: 8px;
  padding: .5rem;
  font-family: Dosis, sans-serif;
  font-style: normal;
  display: inline-block;
  font-weight: 700;
}

.btn:hover {
  background-color: #512200;
}

a {
  text-decoration: none;
}
